
.logo_pic{
    height:30px; 
    width:30px;
    padding-top: 8px;
    }
    nav{
        position:fixed;
        width:100%;
        z-index:100;
    }
    .popup{
        margin-top: 50px;
        margin-left:70px;
        padding: 10px;
        border: 2px solid ;
        background-color: azure;
        display: none;
        position: fixed;
        z-index: 1;
    }
    .popup ul {
        display: none;
    }
    .popup ul li{
        list-style: none;
    }
    .products{
        padding-top:100px;
        padding-left: 100px;
        width:90%;
    }
    .products img{
        height:65%; 
        width:100%;
    }
    .our_story{
        padding-left: 96px;
        padding-top: 50px;
        padding-right: 100px;
    }
    .our_story , .map{
        width:99%;
    }
    .soncial img{
        width: 9%;
        height:9%;	
    }
    .soncial{
        padding-left: 650px;
        padding-top: 10px;
    }
    .my_contact_table{
        padding-left: 96px;
        padding-top: 50px;
        padding-right: 122px;
    }
    .our_form{
        width:85.5%;
        background-image:url("https://wallpaperaccess.com/full/1503173.jpg");
        border: 6px solid grey;
        padding: 40px;
        margin-left: 100px;
        margin-bottom: 100px;
        margin-top: 100px;
    }
    .our_form h2{
        padding-bottom: 20px;
    }
    .milim{
        width: 100%;
        height: 150px;
        background-color: white;
        font-size: 16px;
        resize: none;
    }
    .footer{
        background-color: #B0C4DE;
        height: 60px;
        width: 100%;
        padding-top: 18px;
        padding-bottom: 5px;
        text-align: center;
    }
    body{
     background-image:url("https://wallpaperaccess.com/full/1503173.jpg"); 
    }